---
export interface Props {
        post: any;
}
const { post } = Astro.props;
---

<div class="card">
        <div class="content">
                <div class="left-side">
                        <h2>{post.frontmatter.title}</h2>
                        <div class="">
                                <p>{post.frontmatter.description}</p>
                                <p class="date">{post.frontmatter.date}</p>
                                <a target="_blank" class="btn" href={post.url}
                                        >Leer post</a
                                >
                        </div>
                </div>
                <div class="right-side">
                        <img
                                src={post.frontmatter.image}
                                alt={post.frontmatter.title}
                        />
                </div>
        </div>
</div>

<style>
        .card {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                padding: 1rem;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                background-color: #000000;
                height: 100%; /* Asegura que la tarjeta toma el 100% del alto disponible */
        }

        .content {
                display: flex;
                justify-content: space-between;
                align-items: stretch; /* Asegura que ambos lados se estiren por igual */
                width: 100%;
        }

        .left-side {
                display: flex;
                flex-direction: column;
                justify-content: flex-start; /* Asegura que el contenido se alinee en la parte superior */
                align-items: flex-start;
                width: 50%; /* Toma el 50% del ancho */
                padding: 0 10px;
        }

        .right-side {
                width: 50%; /* Toma el 50% del ancho */
                display: flex;
                align-items: center; /* Centra la imagen verticalmente */
        }

        .date {
                font-size: 0.8rem;
                color: #fff;
                margin-bottom: 1rem;
        }

        img {
                width: 100%;
                height: auto; /* Mantiene la proporción de la imagen */
                object-fit: cover;
                border-radius: 10px;
        }

        h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color: #fff;
        }

        p {
                font-size: 1rem;
                margin-bottom: 1rem;
                color: #fff;
        }

        .btn {
                padding: 0.5rem 1rem;
                border-radius: 5px;
                background-color: #007bff;
                color: #fff;
                text-decoration: none;
                font-size: 1rem;
                display: block;
                width: max-content;
        }
</style>
