---
const titulo = "Mi primer componente";
const items = ["item1", "item2", "item3"];
const miEstilo = "se-puede-escribir-asi";
---

<h1>{titulo}</h1>

<ul>
        {items.map((item) => <li class={miEstilo}>{item}</li>)}
</ul>

<ul>
        {
                items.map((item) => (
                        <>
                                <li class={miEstilo}>{item}</li>
                        </>
                ))
        }
</ul>

<style>
        h1 {
                color: red;
        }

        .se-puede-escribir-asi {
                color: blue;
                list-style-type: upper-alpha;
                font-weight: bold;
        }
</style>
